/* Light mode */

:root {
   --page-bg: var(--white);
   --text-color: var(--black);
 
   --title-1: var(--accent);
 
   --project-card-bg: var(--white);
   --project-card-text: var(--black);
   --box-shadow: 0rem .313rem 2.188rem rgba(0, 0, 0, 0.25);
}

/* dark mode */

.dark {
  --page-bg: #252526;
  --text-color: var(--white);

  --title-1: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0rem .313rem 2.188rem rgba(0, 0, 0, 0.8);
}

/* Dark mode btn */

.dark-mode-btn {
  order: 9;

  position: relative;
  display: flex;
  justify-content: space-between;

  width: 3.188rem;
  height: 1.625rem;
  padding: .313rem;

  border-radius: 3.125rem;
  background-color: #272727;
}

.dark-mode-btn::before {
  content: "";

  position: absolute;
  top: .063rem;
  left: .063rem;

  display: block;
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  background-color: var(--white);

  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 1.625rem;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}