.project-details {
  margin: 0 auto;
  min-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details__img {
  min-width: 100%;
  margin-bottom: 40px;

  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project-details__desc {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

/* btn */

.btn-outline {
  height: 42px;
  padding: 12px 20px;
  border-radius: 5px;

  border: 1px solid var(--blackpure);
  color: var(--blackpure);

  transition: opacity 0.2s ease-in;
}

/* skills content */

.title-2 {
  margin-bottom: 20px;

  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
}

.content-list {
  margin: 0 auto;
  min-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
}

.content-list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p + p {
  margin-top: 8px;
}